<!DOCTYPE html>
<html>
<head>
  <include file="Index:meta" />
  <include file="Index:css" />
  <!-- DataTables -->
  <link rel="stylesheet" href="/Public/plugins/datatables/dataTables.bootstrap.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
    <!-- Main content -->
    <section class="content">
      <!-- START ALERTS AND CALLOUTS -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-default">
            <div class="box-body">
              <div class="alert alert-danger alert-dismissible">
                <h4><i class="icon fa fa-ban"></i><{$msg}></h4>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->        
      </div>
      <!-- /.row -->
      <!-- END ALERTS AND CALLOUTS -->
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->
  <include file="Index:js" />
</body>
</html>
