<!DOCTYPE html>
<html>

<head>
    <include file="Index:meta" />
    <include file="Index:css" />

</head>
<body>
<section class="content-header">
    <h1>
        企业信息
    </h1>
</section>
<div class="box box-cus box-cus-form">
    <!-- /.box-header -->
    <div class="box-body">
        <div class="alert alert-error" style="display:none;">
            <span>信息不能为空，请输入</span>
        </div>
        <form id="info_form" novalidate="novalidate">

        </form>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix text-center">
        <!--<button type="button" class="btn btn-primary" id="submit"><i class="fa fa-save"></i>  编辑</button>-->
        <a href="javascript:void (0)" id="editMsg" class="btn btn-primary"><i class="fa fa-save"></i> 编辑</a>
        <a href="javascript:window.history.go(-1);" class="btn btn-default"><i class="fa fa-arrow-left"></i> 返回</a>
    </div>
</div>
<!-- jQuery 2.2.0 -->
<script src="/Public/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="/Public/plugins/jQuery/jquery-ui.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/Public/js/public/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/Public/js/public/app.min.js"></script>

<!-- radio checkbox 美化-->
<link href="/Public/plugins/iCheck/minimal/_all.css" rel="stylesheet">
<script src="/Public/plugins/iCheck/icheck.min.js"></script>

<!-- modal.js 封装过的提示框组件 -->
<script src="/Public/js/public/modal.js"></script>

<script src="/Public/js/public/public.js"></script>


<script src="/Public/plugins/jQuery/jquery.validate.min.js"></script>
<script src="/Public/plugins/jQuery/additional-methods.min.js"></script>
<script src="/Public/js/organ/checkOrgan.js"></script>
<script type="text/javascript">
</script>


</body>

</html>

