<!DOCTYPE html>
<html>

<head>
    <include file="Index:meta" />
    <include file="Index:css" />
    <style>
        .checkDefault{
            padding: .3em .8em .5em;
        }
        #cooperateWrap{
            position: relative;
        }
        ul,li{
            list-style: none;
        }
        .car-group-tree {
            position: absolute;
            padding: 10px;
            margin: 0;
            max-height: 250px;
            overflow: auto;
            z-index: 1;
            background-color: #fff;
            width: 100%;
            border: 1px solid #d2d6de;
        }
        .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
            background-color: #fff;
            opacity: 1;
        }
    </style>
</head>

<body>
<section class="content-header">
    <h1>
        添加机构
    </h1>
</section>
<div class="box box-cus box-cus-form">
    <div class="alert alert-error" style="display:none;">
        <span>信息不能为空，请输入</span>
    </div>
    <div class="box-body">
        <form role="form-horizontal" id="info_form" novalidate="novalidate">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td class="title" colspan="6"><i class="fa fa fa-info-circle"></i> 添加机构信息</td>
                </tr>
                <tr class="form-group">
                    <th class="col-md-2"><span class="text-red">*</span> 机构全称</th>
                    <td class="col-md-4">
                        <div class="form-group"><input type="text" class="form-control" id="componyName" name="organ_name" placeholder="机构全称"></div>
                    </td>
                    <th class="col-md-2"><span class="text-red">*</span> 机构简称</th>
                    <td class="col-md-4">
                        <div class="form-group"><input type="text" class="form-control" id="componySimName" name="organ_short_name" placeholder="机构简称"></div>
                    </td>
                    <th class="col-md-2"><span class="text-red">*</span> 机构归属</th>

                    <td class="col-md-4">
                        <input type="hidden" name="parent_organ_id">
                        <input type="text" class="form-control" id="organ_id">

                    </td>

                </tr>
                <tr>
                    <th class="col-md-2"><span class="text-red">*</span> 机构级别</th>
                    <td class="col-md-4 form-group">
                        <!--<div class="form-group">-->
                            <select class="form-control" id="componyLv" name="organ_level_id">
                                <option value="">选择机构级别</option>
                            </select>
                        <!--</div>-->
                    </td>
                    <th><span class="text-red">*</span> 机构地址</th>
                    <td class="form-inline">
                        <select class="form-control" id="province_id" name="prov_code">
                            <option value="">省份</option>
                        </select>
                        <select class="form-control" id="city_id" name="city_code">
                            <option value="">城市</option>
                        </select>
                    </td>
                    <th><span class="text-red">*</span> 详细地址</th>
                    <td><input type="text" class="form-control" id="module_name" name="address" placeholder="详细地址"></td>
                </tr>
                <tr class="form-group">
                    <th class="col-md-2">联系人</th>
                    <td class="col-md-4">
                        <div class="form-group"><input type="text" class="form-control" id="contact_person" name="contact_person" placeholder="联系人"></div>
                    </td>
                    <th class="col-md-2">联系电话</th>
                    <td class="col-md-4">
                        <div class="form-group"><input type="text" class="form-control" id="connect_tel" name="contact_phone" placeholder="联系电话"></div>
                    </td>
                    <th class="col-md-2">联系邮箱</th>
                    <td class="col-md-4">
                        <div class="form-group"><input type="text" class="form-control" id="connect_mail" name="contact_email" placeholder="联系邮箱"></div>
                    </td>
                </tr>
                <tr class="form-group">
                    <th>机构备注</th>
                    <td colspan="6">
                        <div class="form-group"><textarea class="form-control" id="comp_mark" name="comment" placeholder="输入机构备注信息"></textarea></div>
                    </td>
                </tr>

                </tbody>
            </table>
        </form>
    </div>
    <div class="box-footer clearfix text-center">
        <button type="submit" class="btn btn-info" id="submit"><i class="fa fa-save"></i> 提交</button>
        <a href="#" onclick="JavaScript:history.back(-1);" class="btn btn-default"><i class="fa fa-arrow-left"></i> 返回</a>
    </div>
</div>
<!-- /.box -->
<!-- jQuery 2.2.0 -->
<script src="/Public/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<script src="/Public/plugins/jQuery/jquery-ui.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/Public/js/public/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/Public/js/public/app.min.js"></script>

<!-- radio checkbox 美化-->
<link href="/Public/plugins/iCheck/minimal/_all.css" rel="stylesheet">
<script src="/Public/plugins/iCheck/icheck.min.js"></script>

<!-- modal.js 封装过的提示框组件 -->
<script src="/Public/js/public/modal.js"></script>

<script src="/Public/js/public/public.js"></script>


<!-- DataTables -->
<script src="/Public/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/Public/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/Public/plugins/jQuery/jquery.validate.min.js"></script>
<script src="/Public/plugins/jQuery/additional-methods.min.js"></script>
<!-- iCheck 1.0.1 -->
<script src="/Public/plugins/iCheck/icheck.min.js"></script>
<!--自定义的函数-->
<script src="/Public/js/public/carGroupPopup.js"></script>
<script src="/Public/js/son/addSon.js"></script>

<script type="text/javascript">
    $(function() {
        //Flat red color scheme for iCheck
        $('input[type="radio"].flat-red').iCheck({
            radioClass: 'iradio_flat-green'
        });
        $('#system_id').change(function()
        {
            getModuleByVal($(this).val());
        })
    })
    function getModuleByVal(val)
    {
        $.ajax({
            'url':'/Home/Module/getModuleById/id/'+val,
            'dataType':'json',
            'type':'post',
            success:function(result)
            {
                var html = "<option value=''>请选择</option>";
                if(result.length > 0)
                {
                    for (var i = 0; i < result.length; i++)
                    {
                        html += "<option value='"+result[i]['module_id']+"'>"+result[i]['module_name']+"</option>";
                    };
                }
                $('#module_parent_id').html(html);
            }
        })
    }
</script>


</body>
</html>

