<!DOCTYPE html>

<head>
    <include file="Index:meta" />
    <include file="Index:css" />
</head>

<body class="hold-transition skin-blue sidebar-mini" style="overflow: hidden;padding: 0;">
    <div class="wrapper">
        <include file="Index:top" />
        <aside class="main-sidebar">
            <iframe src="/Home/Index/menu" width="100%" height="100%" scrolling="no" frameborder="0"></iframe>
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div id="content" class="content-wrapper">
            <iframe src="/Home/Index/main" width="100%" height="100%" name="myFrame" scrolling="no" frameborder="0"></iframe>
        </div>
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <include file="Index:js" />
    <script type="text/javascript">
    $(function() {
      var _h = $('#content').outerHeight();
      $('iframe').outerHeight( _h ); 
    });
    </script>
</body>

</html>
