<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo" target="_top">
        <span class="logo-mini"><b>通用企业及权限管理</b></span>
        <span class="logo-lg"><b>通用企业及权限管理</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="/Home/Login/loginOut" target="_top">
                        <i class="fa fa-user"></i>
                        <span class="hidden-xs">退出</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
